* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: 150px;
}

.toolbar,
button,
.param-pane,
.statusbar,
.dialog {
    font-family: 'Open Sans', sans-serif;
}

.button {
    font-size: 12px;
    line-height: 28px;
    vertical-align: middle;
    color: #007aff;
    background-color: #fff;
    padding: 0 8px;
    margin: 0px 8px 0px 0;
    border: 1px solid #f0f0f0;
    cursor: pointer;
}

.button:focus,
.button:hover {
    color: #007aff;
    background-color: #f0f0f0;
}

.button.highlighted {
    color: #fff;
    background-color: #007af4;
}

.button.highlighted:focus,
.button.highlighted:hover {
    color: #fff;
    background-color: #006ae4;
}

.button:active,
.button.highlighted:active {
    color: #007aff;
    background-color: #d7d7d7;
}

.header {
    height: 48px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.header .left {
    float: left;
}

.header .right {
    float: right;
}

.toolbar {
    padding: 7px 12px;
    font-size: 12px;
    color: #007aff;
}

.toolbar .spacer {
    display: inline-block;
    width: 20px;
}

.toolbar .material-icons {
    font-size: 20px;
    vertical-align: -6px;
}

.toolbar span {
    font-size: 12px;
    line-height: 28px;
    vertical-align: middle;
}

.toolbar input[type='range'] {
    width: 100px;
    height: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.visualizer {
    height: 48px;
}

.visualizer canvas {
    width: 250px;
    height: 48px;
    padding-left: 3px;
}

@media screen and (max-width: 1267px) {
    .visualizer .oscilloscope {
        display: none;
    }
}

@media screen and (max-width: 1014px) {
    .toolbar .title,
    button.foldable span {
        display: none;
    }
    button.foldable {
        margin-right: 0;
    }
}

@media screen and (max-width: 676px) {
    .visualizer .spectrum-analyzer {
        display: none;
    }
}

.editor {
    width: 100%;
    height: 100%;
}

.param-pane {
    min-width: 200px;
    height: 100%;
    font-size: 14px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.param-header {
    padding: 10px;
    line-height: 28px;
    border-bottom: 1px solid #ccc;
}

.param-header .title {
    color: #007aff;
}

.param-header .reset {
    float: right;
    font-size: 13px;
}

.param-body {
    padding: 10px;
    flex-grow: 1;
    overflow-y: scroll;
}

.param-body ul {
    list-style: none;
}

.param-body li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.param-body .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.param-body .input-container {
    display: flex;
    height: 24px;
}

.param-body input[type='range'] {
    cursor: pointer;
    flex-grow: 1;
}

.param-body input[type='number'] {
    width: 100px;
    margin-left: 8px;
    border: none;
    border-bottom: 2px solid #ccc;
}

.param-body input[type='number']:focus {
    border-bottom: 2px solid #000;
}

.statusbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    color: #fff;
    padding-left: 10px;
    height: 24px;
    line-height: 24px;
}

.statusbar.stopped,
.statusbar.starting {
    background-color: #444;
}

.statusbar.running {
    background-color: #007aff;
}

.statusbar.error {
    background-color: #ca5100;
}

.dialog {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 340px;
    height: 477px;
    margin: auto;
    background-color: #fafafa;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.dialog .message {
    padding: 20px;
}

.dialog .close {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 8px;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    min-width: 64px;
    cursor: pointer;
}

.dialog .list {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 365px;
    margin-bottom: 8px;
}

.dialog .list li {
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 8px 20px;
    margin: 0;
    font-size: 16px;
    float: none;
    text-align: left;
    cursor: pointer;
}

.dialog .list li:nth-child(2n) {
    background-color: #fafafa;
}

.dialog .list li:focus,
.dialog .list li:hover {
    background-color: #f0f0f0;
}

.dialog .list li:active {
    background-color: #d7d7d7;
}

.button:focus,
.param-body input[type='number']:focus,
.dialog:focus {
    outline: 0;
}

.Resizer {
    background: #000;
    opacity: 0.2;
    z-index: 1;
    box-sizing: border-box;
    background-clip: padding-box;
}

.Resizer.vertical {
    width: 11px;
    margin: 0;
    margin-right: -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
