* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: 100px;
}

.toolbar,
button,
.statusbar,
.dialog {
    font-family: 'Open Sans', sans-serif;
}

.header {
    height: 48px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.header .left {
    float: left;
}

.header .right {
    float: right;
}

.toolbar {
    padding: 7px 12px;
    font-size: 12px;
    color: #007aff;
}

.toolbar .spacer {
    display: inline-block;
    width: 20px;
}

.toolbar .material-icons {
    font-size: 20px;
    vertical-align: -6px;
}

.toolbar span,
.toolbar button p {
    font-size: 12px;
    line-height: 28px;
    vertical-align: middle;
}

.toolbar button {
    color: #007aff;
    background-color: #fff;
    padding: 0 8px;
    margin: 0px 8px 0px 0;
    border: 1px solid #f0f0f0;
    cursor: pointer;
}

.toolbar button:focus,
.toolbar button:hover {
    color: #007aff;
    background-color: #f0f0f0;
}

.toolbar button.highlighted {
    color: #fff;
    background-color: #007af4;
}

.toolbar button.highlighted:focus,
.toolbar button.highlighted:hover {
    color: #fff;
    background-color: #006ae4;
}

.toolbar button:active,
.toolbar button.highlighted:active {
    color: #007aff;
    background-color: #d7d7d7;
}

.toolbar button:disabled {
    color: #fff;
    background-color: #999;
    cursor: default;
}

.toolbar input[type='range'] {
    width: 100px;
    height: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.visualizer {
    height: 48px;
}

.visualizer canvas {
    padding-left: 3px;
}

@media screen and (max-width: 1284px) {
    .oscilloscope {
        display: none;
    }
}

@media screen and (max-width: 1031px) {
    .title,
    button.foldable span {
        display: none;
    }
}

@media screen and (max-width: 741px) {
    .spectrum-analyzer {
        display: none;
    }
}

.editor {
    width: 100%;
    height: calc(100% - 72px);
}

.statusbar {
    font-size: 12px;
    color: #fff;
    padding-left: 10px;
    height: 24px;
    line-height: 24px;
}

.statusbar.stopped,
.statusbar.starting {
    background-color: #444;
}

.statusbar.running {
    background-color: #007aff;
}

.statusbar.error {
    background-color: #ca5100;
}

.dialog {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 340px;
    height: 477px;
    margin: auto;
    background-color: #fafafa;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.dialog .message {
    padding: 20px;
}

.dialog .close {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 8px;
    text-align: center;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    min-width: 64px;
    cursor: pointer;
    color: #3a76ff;
    background-color: #fafafa;
    border: none;
}

.dialog .close:focus,
.dialog .close:hover {
    background-color: #ddd;
}

.dialog .close:active {
    background-color: #ccc;
}

.dialog .list {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 365px;
    margin-bottom: 8px;
}

.dialog .list li {
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 8px 20px;
    margin: 0;
    font-size: 16px;
    float: none;
    text-align: left;
    cursor: pointer;
}

.dialog .list li:nth-child(2n) {
    background-color: #fafafa;
}

.dialog .list li:focus,
.dialog .list li:hover {
    background-color: #f0f0f0;
}

.dialog .list li:active {
    background-color: #d7d7d7;
}

.toolbar button:focus,
.dialog:focus,
.dialog .close:focus {
    outline: 0;
}
